<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <application>
    <activity
        android:name=".nome.connection.NomeConnectionPreviewEvidenceActivity"
        android:excludeFromRecents="true"
        android:exported="false"
        android:label="@string/nome_connection_preview_evidence_activity_label"
        android:theme="@style/Theme.SimpleX" />
    <activity
        android:name=".nome.home.NomeHomeEvidenceActivity"
        android:excludeFromRecents="true"
        android:exported="false"
        android:label="@string/nome_home_evidence_activity_label"
        android:theme="@style/Theme.SimpleX" />
    <activity
        android:name=".nome.harness.NomeFoundationActivity"
        android:excludeFromRecents="true"
        android:exported="false"
        android:label="@string/nome_fixture_activity_label"
        android:theme="@style/Theme.SimpleX" />
  </application>

</manifest>
